<div class="footer">
	<div class="container">
		<ul class="footer-links">
			<li><a href="http://mycolorway.com">首页</a></li>
			<li>/</li>
			<li><a href="/">博客</a></li>
			<li>/</li>
			<li><a href="https://tower.im" target＝"_blank">Tower</a></li>
		</ul>

		<ul class="social">
			<li><a href="http://weibo.com/mycolorway" class="weibo" target="_blank"></a></li>
			<li><a href="/feed.xml" class="rss" target="_blank"></a></li>
		</ul>
		<p><a href="http://j.map.baidu.com/ilrET" title="查看地图" target="_blank">四川省成都市科华北路62号力宝大厦S区609</a><span class="hidden"> 邮编 610041</span></p>
		<p>© Mycolorway Design co., Ltd.<span class="hidden"> | 备案号：蜀ICP备12019256号</span></p>

		<i class="weixin-info"></i>
	</div>
</div>

