---
---

@charset "UTF-8";

@mixin at2x($path, $ext: "jpg", $w: auto, $h: auto) {
	$at1x_path: "#{$path}.#{$ext}";
	$at2x_path: "#{$path}@2x.#{$ext}";

	background-image: url("#{$at1x_path}");
	background-repeat: no-repeat;
	background-size: $w $h;

	@media all and (-webkit-min-device-pixel-ratio : 1.5),
				 all and (-o-min-device-pixel-ratio: 3/2),
				 all and (min--moz-device-pixel-ratio: 1.5),
				 all and (min-device-pixel-ratio: 1.5) {
					 background-image: url("#{$at2x_path}");
					 background-size: $w $h;
	}
}


/*  General Style */

body {
	font-size: 18px;
	font-family: "Helvetica Neue", "Hiragino Sans GB", "冬青黑体", Helvetica, "Microsoft Yahei", "SimHei", Arial, sans-serif;
	color: #333333;
}

a {
	text-decoration: none;
	color: #3399cb;

	&:hover {
		color: #666666;
	}
}


/*  Layout */

.header {
	position: relative;
	min-height: 50px;
	margin-top: 40px;

	a.brand {
		@include at2x('../images/logo', png, 100% , auto);
		display: block;
		float: left;
		overflow: hidden;
		width: 241px; height: 51px;
		line-height: 1;
		font-size: 48px;
		font-weight: bold;
		text-indent: -9999px;
	}

	.nav {
		float: right;

		li {
			float: left;
			display: block;
			line-height: 22px;
			margin: 0 0 0 35px;

			a {
				font-size: 18px;
				color: #999;
				&.selected { color: #000; }
			}
		}
	}
}


.footer {
	margin: 0; padding: 0;
	background-color: #777;
	line-height: 1.4;
	
	a:hover {
		opacity: 0.8;
	}

	.container {
		width: 80%;
		padding: 40px 0 40px;
		position: relative;

		p {
			margin: 5px 0 0;
			color: #aaa;
			font-size: 16px;
			clear: both;
			a { color: #aaa; }
		}
	}

	.footer-links, .social{
		list-style: none;
		padding: 0; margin: 0;
	}

	.footer-links {
		float: left;
		margin-bottom: 20px;

		li {
			display: inline-block;
			margin-right: 20px;
			color: #aaa;

			// IE7 & FF2 hack
			display: -moz-inline-stack;
			display: inline-block;
			vertical-align: top;
			zoom: 1;
			*display: inline;
			&:last-child { margin: 0; }

			a {
				font-size: 16px;
				color: #aaa;
			}
			&.inline-xs, &.weibo-link, &.rss-link {
				display: none;
			}
		}
	}

	.social {
		position: absolute;
		top: 75px;
		right: 0;

		li {
			margin: 0 25px;

			// IE7 & FF2 hack
			display: -moz-inline-stack;
			display: inline-block;
			vertical-align: top;
			zoom: 1;
			*display: inline;

			a {
				display: block;
				&.rss {
					@include at2x('../images/rss-large', png, 100% , auto);
					width: 28px; height:28px;
				}
				&.weibo {
					@include at2x('../images/weibo-large', png, 100% , auto);
					width: 36px; height: 36px;
				}
			}
		}
	}
}

.container {
	margin-right: auto;
	margin-left: auto;
	padding-left: 15px;
	padding-right: 15px;
	box-sizing: border-box;
}

/*  Home  */

#page-home {
	.posts {
		margin: 100px 0 0 0;
	}

	.pagination {
		width: 90%;
		max-width: 600px;
		margin: 0 auto 40px;
		height: 30px;
		font-size: 18px;

		.link-prev-page {
			float: left;
		}
	
		.link-next-page {
			float: right;
		}
	}
}


/* Post */

#page-post {
	margin: 100px 0 0 0;
}


/* style for all post */

.post {
	width: 90%;
	max-width: 600px;
	margin: 0 auto 100px;

	h2 {
		text-align: center;
		font-size: 34px;
		color: #000000;
		font-weight: bold;

		a {
			color: #000000;
			&:hover {
				color: #666666;
			}
		}
	}

	.post-meta {
		margin: 20px 0;
		text-align: center;
		font-size: 14px;
		color: #999999;

		.author {
			margin: 0 0 0 20px;
		}
	}

	.post-content {
		margin: 40px 0 0 0;

		span.red {
			color: red;
		}
		span.grey {
			color: #bbb;
		}
		span.underline {
			text-decoration: underline;
		}
		span.line-through {
			text-decoration: line-through;
		}
	}
}

/* styles for different devices */

@media (max-width: 767px) {
	.header {
		margin-top: 20px;

		a.brand {
			background-size: 50%;
			position: absolute;
		}

		.nav li {
			margin-left: 20px;
			a { font-size: 12px; }
		}
	}

	.footer {
		.container {
			width: 100%;
			padding: 15px 0;
			text-align: center;
			p { margin: 10px 0 0; font-size: 10px; }
		}

		.footer-links {
			float: none;
			text-align: center;
			margin: 0 auto;
			li {
				margin-right: 12px;
				font-size: 10px;
				a {
					font-size: 10px;
					&:hover {
						opacity: 0.8;
					}
				}
				&.inline-xs, &.weibo-link, &.rss-link {
					display: inline-block;
				}
			}
		}

		.social {
			display: none;
		}

		.weixin-info {
			@include at2x('../images/weixin-info-small', png, 100% , auto);
			width: 98px; height: 68px;
			top: -20px;
		}
	}

	.hidden { display: none; }
}

@media (min-width: 768px) {
	.container {
		width: 100%;
	}
}

@media (min-width: 992px) {
	.container {
		width: 100%;
	}
}

@media (min-width: 1200px) {
	.container {
		width: 1000px;
	}
}

